body {
  background-color: #2c2568;
  color: #4b536d;
  font-family: Arial, sans-serif;
  display: flex;
  
}
table, th, td {
  border:1px solid black;
  
}
th {
  width: 600px;
  text-align: center;
  table-layout: fixed;
  border-color: #4b536d;
  
  color: aqua;
  
  
}
td {
  margin-left: 1000px;
}
h1 {
  color: rgb(0, 38, 253);
  background-color: rgb(0, 0, 0);
}